<div class="card">
  <section class="card-header">Add Customer</section>
  <section class="card-body">
    <form novalidate (ngSubmit)="onSave()" [formGroup]="customerForm">
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="firstNameId">First Name</label>
        <div class="col-md-8">
          <input class="form-control" id="firstNameId" type="text" placeholder="First Name (required)"
            formControlName="firstName" [ngClass]="{
              'is-invalid': errorMessages?.firstName
            }" />
          <span class="invalid-feedback">
            {{errorMessages?.firstName}}
          </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="lastNameId">Last Name</label>
        <div class="col-md-8">
          <input class="form-control" id="lastNameId" type="text" placeholder="Last Name (required)"
            formControlName="lastName" [ngClass]="{
              'is-invalid': errorMessages?.lastName
            }" />
          <span class="invalid-feedback">
            {{errorMessages?.lastName}}
          </span>
        </div>
      </div>
      <div formGroupName="emailGroup">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="emailId">Email</label>
          <div class="col-md-8">
            <input class="form-control" id="emailId" type="email" placeholder="Email (required)" formControlName="email"
              [ngClass]="{
                'is-invalid':
                  errorMessages?.email|| errorMessages?.emailGroup
              }" />
            <span class="invalid-feedback">
              {{errorMessages?.email}}
            </span>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="confirmEmailId">Confirm Email</label>
          <div class="col-md-8">
            <input class="form-control" id="confirmEmailId" type="email" placeholder="Confirm Email (required)"
              formControlName="confirmEmail" [ngClass]="{
                'is-invalid':
                  errorMessages?.confirmEmail|| errorMessages?.emailGroup
              }" />
            <span class="invalid-feedback">
              {{errorMessages?.confirmEmail}}
              {{errorMessages?.emailGroup}}
            </span>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="phoneId">Phone</label>
        <div class="col-md-8">
          <input class="form-control" id="phoneId" type="text" placeholder="Phone" formControlName="phone" [ngClass]="{
              'is-invalid': errorMessages?.phone
            }" />
          <span class="invalid-feedback">
            {{errorMessages?.phone}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label pt-0">Notification</label>
        <div class="col-md-8">
          <div class="form-check form-check-inline">
            <label class="form-check-lable">
              <input class="form-check-input" type="radio" value="email" formControlName="notification" />Email
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-lable">
              <input class="form-check-input" type="radio" value="text" formControlName="notification" />Text
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="ratingId">Rating</label>
        <div class="col-md-8">
          <input class="form-control" id="ratingId" type="number" placeholder="Rating" formControlName="rating"
            [ngClass]="{
              'is-invalid':
                errorMessages?.rating
            }" />
          <span class="invalid-feedback">
            {{errorMessages?.rating}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3" type="submit" style="width: 80px;" [title]="
              customerForm.valid
                ? 'Save your entered data'
                : 'Disabled until the form data is valid'
            " [disabled]="!customerForm.valid">
            Save
          </button>
        </div>
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3" type="button" (click)="populateTestData()">
            Populate Data
          </button>
        </div>
      </div>
    </form>
  </section>
  <section class="card-footer">
    <br />Dirty: {{ customerForm.dirty }} <br />Touched:
    {{ customerForm.touched }} <br />Valid: {{ customerForm.valid }}
    <br />Value: {{ customerForm.value | json }}
    <br />
    Group Value : {{ customerForm.get('emailGroup').errors | json }}
  </section>
</div>
